# Pandas Part 2 Assignment: Student Dataset
- Name: Khalid Salim
- Group: CAI3_AIS4_G1

## Importing Necessary Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot

## Reading CSV File

In [4]:
df = pd.read_csv('bi.csv', encoding='latin1')
df.head()

,fNAME,lNAME,Age,gender,country,residence,entryEXAM,prevEducation,studyHOURS,Python,DB
0,Christina,Binger,44,Female,Norway,Private,72,Masters,158,59.0,55
1,Alex,Walekhwa,60,M,Kenya,Private,79,Diploma,150,60.0,75
2,Philip,Leo,25,Male,Uganda,Sognsvann,55,HighSchool,130,74.0,50
3,Shoni,Hlongwane,22,F,Rsa,Sognsvann,40,High School,120,NaN,44
4,Maria,Kedibone,23,Female,South Africa,Sognsvann,65,High School,122,91.0,80

## Part 1 - Data Cleaning

### 1.1 Check Data Structure

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.head()

**Q: Which columns should be categorical and which should be numerical?**

**Answer:**

**Categorical:** gender, country, residence, prevEducation

**Numerical:** Age, entryEXAM, studyHOURS, Python, DB

### 1.2 Detect & fix inconsistent categories

In [ ]:
df.head()

In [ ]:
df['gender'].unique()

In [ ]:
df['country'].unique()

In [ ]:
df['prevEducation'].unique()

In [ ]:
# fixing gender column by title() format
df['gender'] = df['gender'].str.title()
df['gender'].unique()

In [ ]:
# fixing gender column by replacing values
df['gender'] = df['gender'].replace({'M': 'Male', 'F': 'Female'})
df['gender'].unique()

In [ ]:
# fixing country column
df['country'] = df['country'].str.title().replace({'Rsa': 'South Africa', 'Norge': 'Norway', 'Somali': 'Somalia'})
df['country'].unique()

In [ ]:
# fixing prevEducation column
df['prevEducation'] = df['prevEducation'].str.title().replace({'Highschool': 'High School', 'Barrrchelors': 'Bachelors', 'Diplomaaa': 'Diploma'})
df['prevEducation'].unique()

### 1.3 Handle duplicates

In [ ]:
df.duplicated().sum()

## Part 2 - Missing Data

### 2.1 Identify missing values

In [ ]:
# Identify missing values
df.isnull().sum()

**Q:** Question: Which columns are most affected by missing values?

**A:** Python column

In [ ]:
df[]