# Getting started

# Data types

<div>
<img src="img/python.png" width="500"/>
</div>
Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

There are various data types in Python. Some of the important types are listed below.

| Data types     | Type          |         |
| :------------: | :-----------: |:------: |
| **String**     | **immutable** |  |
| **List**       | **mutable**   |✎|
| **Tuple**      | **immutable** |  |
| **Dictionary** | **mutable**   |✎|
| **Set**        | **immutable** |  |

In [152]:
my_list = [1,3,10,12,5,10]

In [156]:
my_list.pop()

10

In [158]:
my_list.pop()

5

In [160]:
my_list.pop()

12

In [104]:
my_list[2] =20

In [106]:
my_list

[1, 3, 20, 12, 5, 10]

In [116]:
my_tuple = (1,3,10,12,5,10)
type(my_tuple)

tuple

In [120]:
my_tuple[1]

3

In [122]:
my_tuple[1] =10

TypeError: 'tuple' object does not support item assignment

In [132]:
myset = {1,2,323,5,4,5}
myset.add(10)
myset

{1, 2, 4, 5, 10, 323}

In [134]:
myset.add(30)

In [150]:
myset.pop()

4

In [148]:
myset

{4, 5, 10, 30}

In [180]:

my_list= [1,[10,20,30],3]
my_list[1][1]=50

In [182]:
my_list

[1, [10, 50, 30], 3]

In [208]:
my_list= [1,(10,20,30),3]
my_list= tuple(my_list)

In [210]:
type(my_list)

tuple

## 1. Python Numbers

Integers, floating point numbers and complex numbers fall under **[Python numbers](** category. They are defined as **`int`**, **`float`** and **`complex`** classes in Python.

We can use the **`type()`** function to know which class a variable or a value belongs to. 

Similarly, the **`isinstance()`** function is used to check if an object belongs to a particular class.

In [ ]:
a = 6
print(a, "is of type", type(a))
print(a, "is integer number?", isinstance(5,int))

a = 3.0
print(a, "is of type", type(a))
print(a, "is float number?", isinstance(2.0,float))

a = 1+2j  # '1' is real part and '2j' is imaginary part
print(a, "is of type", type(a))
print(a, "is complex number?", isinstance(1+2j,complex))

6 is of type <class 'int'>
6 is integer number? True
3.0 is of type <class 'float'>
3.0 is float number? True
(1+2j) is of type <class 'complex'>
(1+2j) is complex number? True

## 2. Python List `[]`

**[List](https://github.com/milaan9/02_Python_Datatypes/blob/main/003_Python_List.ipynb)** is an **ordered sequence** of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

Declaring a list is pretty straight forward. Items separated by commas are enclosed within brackets **`[ ]`**.

```python
>>>a = [1, 3.3, 'python']
```

We can use the slicing operator **`[ ]`** to extract an item or a range of items from a list. The index starts from 0 in Python.

In [62]:
x = [6, 99, 77, 'Apple']
print(x, "is of type", type(x))

[6, 99, 77, 'Apple'] is of type <class 'list'>

In [64]:
x.pop()

'Apple'

In [90]:
6 in x or  3 in x

True

In [78]:
x.insert(5,'grape')

In [80]:
x

[6, 99, 77, 'grape', 'grape']

Lists are **mutable**, meaning, the value of elements of a list can be altered.

In [46]:
# Change the element of the List
a = [1, 2, 3,{5,3},(5,6,9)]
#   [0  1  2] ➡ Index forward
a[2] = 10

[1, 2, 10, {3, 5}, (5, 6, 9)]

## 3. Python Tuple `()`

**[Tuple]()** is an **ordered sequence** of items same as a list. The only difference is that tuples are **immutable**. Tuples once created cannot be modified.

Tuples are used to **write-protect data** and are usually faster than lists as they cannot change dynamically.

It is defined within parentheses **`()`** where items are separated by commas.

```python
>>>t = (6,'program', 1+3j)
```

We can use the slicing operator **`[]`** to extract items but we cannot change its value.

In [ ]:
# Tuple 't' have 3 elements
t = (6,'program', 1+3j) 
#   (0        1      2) ➡ Index forward

# index '0' is element '1'= 6 
# index '1' is element '2'= program
# index '2' is elemtnt '3'= 1+3j

# t[1] = 'program'
print("t[1] = ", t[1])

# t[0:3] = (6, 'program', (1+3j))
print("t[-3:] = ", t[-3:])

# Generates error
# Tuples are immutable
t[1] = 10  # trying to change element 0 from '6' to '10'

t[1] =  program
t[-3:] =  (6, 'program', (1+3j))

TypeError: 'tuple' object does not support item assignment

In [ ]:
list1 =  [9, 'apple', 3 + 6j]  # list
tuple1 = (9, 'apple', 3 + 6j)  # tuple

list1[1] = 'banana'  # List is mutable
print(list1)         # No error
tuple1[1]= 'banana'  # Tuple is immutable
print(tuple1)        # error

[9, 'banana', (3+6j)]

TypeError: 'tuple' object does not support item assignment

In [120]:
tuple1 = (9, 5,1)  # tuple
tuple1

(9, 5, 1)

## 4. Python Strings

**[String])** is sequence of Unicode characters. We can use single quotes or double quotes to represent strings. Multi-line strings can be denoted using triple quotes, **`'''`** or **`"""`**.

In [ ]:
s = '''Apple'''
print(s)
s = """Apple"""
print(s)
s = 'Apple'
print(s)
s = "Apple"
print(s)
s = Apple   # cannot write string with out quotes ('', " ", """ """, ''' ''')
print(s)

Apple
Apple
Apple
Apple

NameError: name 'Apple' is not defined

In [ ]:
s = "This is a string"  # s is my variable
print(s)
s = '''A multiline
string'''
print(s)

This is a string
A multiline
string

Just like a list and tuple, the slicing operator **`[ ]`** can be used with strings. Strings, however, are **immutable**.

In [20]:
s = 'Hello world!' # total 12 elements. Index start from '0' to '11'

# s[4] = 'o'
print("s[4] = ", s[4])

s[4] =  o

In [22]:
a = "apple"

a[0]='o'
# Simiar to TUPLE, STRING is immutable

TypeError: 'str' object does not support item assignment

## 5. Python Set `{}`

**[Set]()** is an **unordered collection** of unique items. Set is defined by values separated by comma inside braces **`{ }`**. Items in a set are not ordered.

In [46]:
a = {7,1,"10",6,9}

# printing set variable
print("a = ", a)

# data type of variable a
print(type(a))

a =  {1, '10', 6, 7, 9}
<class 'set'>

{1, 3, 5, 7, 9}

In [116]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 155, 7, 9, 3}
set3 = {True, False, False}
set2


set2.remove(3)
set2.add(26)
print(set2)

{1, 7, 9, 26, 155}

In [302]:
list2 = [1, 5, 7, 69, 3]

list2.reverse()
list2

[3, 69, 7, 5, 1]

In [62]:
import sys
print(sys. version)

3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 15:03:56) [MSC v.1929 64 bit (AMD64)]

In [20]:
a ={"a"}
type(a)

set

We can perform set operations like union, intersection on two sets. Sets have unique values. They eliminate duplicates.

In [22]:
a = {1,2,2,3,3,3} # we can see total 6 elements 
print(a)

{1, 2, 3}

Since, set are unordered collection, indexing has no meaning. Hence, the slicing operator **`[]`** does not work.

In [28]:
a = [{1,2,3},1]  # in Set data type we cannot access the elements because set is unordered collection
print(a)
a[1]  # Index [1] means element 2

[{1, 2, 3}, 1]

1

In [250]:
a = [1,2,3,4,5]
del a

In [264]:
mylist = ["python","amit", "ML","DL","NLP","CV"]
x  = input("enter 2 values by # : ").split("#")

enter 2 values by # :  ML

In [280]:
mylist = ["python","amit", "ML","DL","NLP","CV","ML","DL"]
mylist.count("DL")

2

In [266]:
mylist.remove(x[0])
mylist.remove(x[1])

IndexError: list index out of range

In [260]:
del x

['python', 'amit', 'DL', 'CV']

In [220]:
a.insert(2,"change")
a

[1, 2, 'change', 3, 4, 5, 10]

In [238]:
a.extend({10:1,2:20,3:34})
a

[1, 2, 'change', 3, 4, 5, 10, 10, 2, 3, [10, 2, 3], 2, 10, 3, 10, 2, 3]

In [232]:
a.append([10,2,3])
a

[1, 2, 'change', 3, 4, 5, 10, 10, 2, 3, [10, 2, 3]]

In [228]:
help(a.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

## 6. Python Dictionary `{}`

**[Dictionary]()** is an **unordered collection** of **key-value pairs**.

It is generally used when we have a huge amount of data. Dictionaries are optimized for retrieving data. We must know the key to retrieve the value.

In Python, dictionaries are defined within braces **`{}`** with each item being a pair in the form key:value. Key and value can be of any type.

In [ ]:
d = {1: 'Apple', 2: 'Cat', "name": 'Baraa'}  # 'Apple' is element and 1 is the key of element.

d["name"]

'Baraa'

In [ ]:
d = {1:'value','key':2} # d is my variable, 'value' and 'key' are the element and 1 and 2 are the key.
type(d)

dict

We use key to retrieve the respective value. But not the other way around.

In [ ]:
d = {1:'value','key':2} # '1' is the key to access 'value' and 'key' is the key to access '2'
print(type(d))

print("d[1] = ", d[1]); # try to find the element from key.

print("d['key'] = ", d['key']);  # try to find the key from the element.

<class 'dict'>
d[1] =  value
d['key'] =  2

In [ ]:
print(type(zip([1,2],[3,4])))

<class 'zip'>

In [51]:
d = {1:'value','key':2} 
type(d)

dict

'value'

# Questions on Python Data Types

## 1. List
1. Create a list containing the numbers 1 to 5. Then:
   - Append the number 6 to the list.
   - Replace the second element with the number 10.
   - Print the list after the changes.

2. Given the list `my_list = ['apple', 'banana', 'cherry', 'date']`, perform the following:
   - Access the first element in the list.
   - Remove the last element from the list.
   - Insert the string `'grape'` at index 2.
   - Print the modified list.

3. Create a set containing the numbers 1, 2, 3, 4. Then:
   - Add the number 5 to the set.
   - Try to add the number 3 to the set again. What happens?
   - Remove the number 2 from the set.
   - Print the final set.

4. Given the set `my_set = {'red', 'green', 'blue'}`, perform the following:
   - Check if `'green'` is present in the set.
   - Add `'yellow'` to the set.
   - Remove `'red'` from the set.
   - Print the modified set.

5. Create a tuple containing the numbers 1, 2, 3, 4, 5. Then:
   - Access the third element of the tuple.
   - Try to modify the second element of the tuple. What happens?
   - Print the tuple.

6. Given the tuple `my_tuple = ('apple', 'banana', 'cherry')`, perform the following:
   - Access the last element in the tuple.
   - Check if `'banana'` is in the tuple.
   - Print the tuple.

7. Create a dictionary with the following key-value pairs: `'name': 'John', 'age': 25, 'city': 'New York'`. Then:
   - Access the value associated with the key `'name'`.
   - Change the value of the key `'age'` to 26.
   - Add a new key `'job'` with the value `'Engineer'`.
   - Print the modified dictionary.

8. Given the dictionary `my_dict = {'brand': 'Toyota', 'model': 'Corolla', 'year': 2019}`, perform the following:
   - Access the value associated with the key `'model'`.
   - Remove the key `'year'` from the dictionary.
   - Add a new key `'color'` with the value `'blue'`.
   - Print the modified dictionary.