In [2]:
x = 10
y = 15 
sum = x +y 
print(sum)

25

In [4]:
x = 150
y = 15 
sum = x +y 
print(sum)

165

In [10]:
x = 10
def my_sum():
    x = 150
    y = 15 
    sum = x +y 
    print(sum)

print(x) # 10 
x = 15 
my_sum() # 165
print(x) # 15

10
165
15

In [12]:
# Defining a function without any parameters and without return
def greet():
    print("Hello everyone in our class")

greet()

Hello everyone in our class

In [24]:
# Defining a function with parameters and without return
def greet(name = "Guest"):
    print(f"Hello {name} in our class")

greet()
greet("Baraa")

Hello Guest in our class
Hello Baraa in our class

In [34]:
def my_sum(x = 0 ,y = 0):
    sum = x +y 
    print("The inner print: ",sum)
    return sum

oursum = my_sum(95,85)
print("The outer print: ",oursum)
avg = oursum / 2
print(avg)

The inner print:  180
The outer print:  180
90.0

In [44]:
def my_sum(x = 0 ,y = 0):
    sum = x +y 
    avg = sum/ 2
    return sum, avg

#way 1 
info = my_sum(90,80)
print(info)

(170, 85.0)

In [52]:
#way 2
sumaaaa ,avgaaaa = my_sum(90,80)
print(sumaaaa)
print(avgaaaa)

170
85.0

In [70]:
def my_sum(name,list):
    print(f"Hello {name}, ")
    sum = 0 
    for i in list:
        sum = sum  + i
    return sum

my_sum("Moh",(1,2,3,4,5))

Hello Moh,

15

In [84]:
def my_sum(name , age ,*tuple):
    """
    The mysum is my own function
    """

    print(type(list))
    print(f"Hello {name},{age } ")
    sum = 0 
    for i in tuple:
        sum = sum  + i
    return sum

my_sum("Moh",1,2)

<class 'type'>
Hello Moh,1

2

In [90]:
help(my_sum)

Help on function my_sum in module __main__:

my_sum(name, age, *tuple)
    The mysum is my own function

In [141]:
class my_math:
    def count_even(num):
        evens = len([i for i in range(num+1) if i%2 == 0])
        return evens
    
    def count_odd(num):
        odds = len([i for i in range(num+1) if i%2 != 0])
        return odds
        
    def sum(*nums):
        sum = 0
        for i in nums:
            sum = sum +i
        return sum

In [143]:
my_math.sum(1,2,3,4)

10

In [135]:
my_math.count_even(100)

51

In [137]:
my_math.count_odd(100)

50

In [145]:
#class
class Calculator:
    def add(self, a, b):
        return a + b

    def subtract(self, a, b):
        return a - b

    def multiply(self, a, b):
        return a * b

    def divide(self, a, b):
        if b == 0:
            return "Cannot divide by zero!"
        return a / b

In [147]:
#obj
calc1 = Calculator()
calc1.add(10,15)

25

In [ ]:
calc1.add(10,15)

In [149]:
class car: 
    manufactuer = "BMW"
    def __init__(self, model, price):
        self.model= model
        self.price= price

    
    def info(self):
        print(f"Hi your car with model {self.model} and price {self.price }")

#obj1 
car1 = car("MA1000",20000)
car1.info()

Hi your car with model MA1000 and price 20000

In [153]:
#obj2 
car2 = car("MA5555",90000)
car2.info()

Hi your car with model MA5555 and price 90000