# Final Technical Project 1
### Student: Khalid Salim Bahajjaj
### Group: CAI3_AIS4_G1

## Project Description:

 Create a Python program that allows users to manage employee records using a single class (EmployeeManager).

## Importing my custom modules and their dependencies

In [1]:
# employee class and add objects function
from emp_create import EmployeeManager

# Employy search, update, view, and delete functions
from emp_fun import search_employee, view_employees, clear_all_data, delete_employee, update_employee

## User Interface

### Welcome Messages & Menu:

In [13]:
welcome_msg = """
--------------------------------
Welcome to the Employee DataBase
--------------------------------

Please choose from the menu below:
1: Add Employee to DataBase
2. View All Emplyees Data
3. Update Employee Data in DataBase
4. Delete Employee Data from DataBase
5. Search Employee Data
6. Exit
7. [WARNING] - Clear All DataBase content
"""

options = ['1', '2', '3', '4', '5', '6', '7']
ids = [str(id) for id in range(1, 51)]

### Processing User Input

In [28]:
option = input(welcome_msg).strip()

# User choise is not in available options:
while option not in options:
    option = input("Invalid choice, please choose from 1 to 6.")

# ----------------- #
# Option 1 Response #
# ----------------- #
if option == '1':
    id = input('Employee ID:')
    while id not in ids:
        id = input('Please input a number from 1 to 50').strip()
        
    first_name = input('Employee First Name:').strip()
    check = first_name.isalpha()
    while not check:
        first_name = input('Name should only contain Alphabetic characters [a->z]').strip()
        check = first_name.isalpha()

    last_name = input('Employee Last Name:').strip()
    check = last_name.isalpha()
    while not check:
        last_name = input('Name should only contain Alphabetic characters [a->z]').strip()
        check = last_name.isalpha()
    name = first_name + " " + last_name
    
    position = input('Employee Position:').strip()
    check = position.replace(" ", "").isalnum()
    while not check:
        position = input('Position should only contain Alphanumeric characters [a->z] & [0-9]').strip()
        check = position.replace(" ", "").isalnum()

    salary = input('Employee Salary').strip().replace(",", "")
    check = salary.isnumeric()
    while not check:
        salary = input('Salary should only contain Numeric characters [0-9]').strip()
        check = salary.replace(",", "").isnumeric()

    email = input('Employee Email').strip()
    check = email.isalnum()
    while not check:
        salary = input('Salary should only contain Numeric characters [0-9]').strip()
        check = salary.isnumeric()    
    
# ----------------- #
# Option 7 Response #
# ----------------- #
if option == '7':
    answer = input('Are you sure you want to CLEAR ALL DATA in DataBase?! [y/n]').strip()
    while answer not in ['y', 'n']:
        answer = input('Invalid choice, please choose from y or n.').strip()
    if answer == 'y':
        clear_all_data()
    elif answer == 'n':
        print("DataBase is INTACT\nThank you!")

--------------------------------
Welcome to the Employee DataBase
--------------------------------

Please choose from the menu below:
1: Add Employee to DataBase
2. View All Emplyees Data
3. Update Employee Data in DataBase
4. Delete Employee Data from DataBase
5. Search Employee Data
6. Exit
7. [WARNING] - Clear All DataBase content
 1
Employee ID: 1
Employee First Name: a
Employee Last Name: a
Employee Position: m @
Position should only contain Alphanumeric characters [a->z] & [0-9] m 3
Employee Salary 5@@
Salary should only contain Numeric characters [0-9] 5,000

KeyboardInterrupt: Interrupted by user

In [23]:
print(salary)

5000

In [34]:
khalid = EmployeeManager('1', 'Khalid Salim', 'Data Analyst', '10000', 'k.bahajjaj@gmail.com')
mghany = EmployeeManager('2', 'Mohamed Abdel Ghany', 'Database Admin', '12000', 'mohabdelghany@outlook.com')
mali = EmployeeManager('3', 'Mohamed Ali', 'Office Assistant', 7000, 'no_email')

In [35]:
khalid.add_employee()
mghany.add_employee()
mali.add_employee()

Employee ID: [1] data is added to database
Employee ID: [2] data is added to database
Employee ID: [3] data is added to database

In [36]:
view_employees()

----------------------------------------------------------------------------------------------------
ID   Name                     Position                 Salary    Email
----------------------------------------------------------------------------------------------------
1    Khalid Salim             Data Analyst             10000     k.bahajjaj@gmail.com
2    Mohamed Abdel Ghany      Database Admin           12000     mohabdelghany@outlook.com
3    Mohamed Ali              Office Assistant         7000      no_email

In [37]:
search_employee(2)

----------------------------------------------------------------------------------------------------
ID   Name                     Position                 Salary    Email
----------------------------------------------------------------------------------------------------
2   Mohamed Abdel Ghany      Database Admin           12000     mohabdelghany@outlook.com

In [38]:
delete_employee(1)

Employee ID: [1] was successfuly deleted from database

In [39]:
id = 2
employee_updated_data = ['Rania Elsharkawy', 'Dean of Education', '', 'r_m_elsharkawy@gmail.com']
update_employee(id, employee_updated_data)

Employee ID: [2] data was successfuly updated in database

In [40]:
view_employees()

----------------------------------------------------------------------------------------------------
ID   Name                     Position                 Salary    Email
----------------------------------------------------------------------------------------------------
2    Rania Elsharkawy         Dean of Education        12000     r_m_elsharkawy@gmail.com
3    Mohamed Ali              Office Assistant         7000      no_email

In [41]:
search_employee(id)

----------------------------------------------------------------------------------------------------
ID   Name                     Position                 Salary    Email
----------------------------------------------------------------------------------------------------
2   Rania Elsharkawy         Dean of Education        12000     r_m_elsharkawy@gmail.com