# Python Input, Output and Import

This class focuses on two built-in functions **`print()`** and **`input()`** to perform I/O task in Python. Also, you will learn to import modules and use them in your program.

Python provides numerous **[built-in functions](https://github.com/milaan9/04_Python_Functions/tree/main/002_Python_Functions_Built_in)** that are readily available to us at the Python prompt.

Some of the functions like **`print()`** and **`input()`** are widely used for standard input and output operations respectively. Let us see the output section first.

## 1. Python Output Using `print()` function

We use the **`print()`** function to output data to the standard output device (screen). We can also **[output data to a file](https://github.com/milaan9/05_Python_Files/blob/main/001_Python_File_Input_Output.ipynb)**, but this will be discussed later.

An example of its use is given below.

In [ ]:
# Example 1:

print('This sentence is output to the screen')

In [ ]:
# Example 2:

a = 9
print('The value of a is', a)

In the second **`print()`** statement, we can notice that space was added between the **[string](https://github.com/milaan9/02_Python_Datatypes/blob/main/002_Python_String.ipynb)** and the value of variable **`a`**. This is by default, but we can change it.

**Syntax** of the **`print()`** function is:

```python
print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)
```

Here, objects is the value(s) to be printed.

The **`sep`** separator is used between the values. It defaults into a space character.

After all values are printed, **`end`** is printed. It defaults into a new line.

The **`file`** is the object where the values are printed and its default value is **`sys.stdout`** (screen). Here is an example to illustrate this.

In [28]:
print(1, 2, 3, 4)
print(1, 2, 3, 4, sep='#')   # It will separate your elements with '#'
#print(1, 2, 3, 4, sep='*', end='&')  # It will separate your elements with '*' and end with '&'

1 2 3 4
1#2#3#4

In [ ]:
def out(x):
    print(x)

out(4)

## Output formatting

Sometimes we would like to format our output to make it look attractive. This can be done by using the **`str.format()`** method. This method is visible to any string object.

In [ ]:
name = "baraa"
email = "baa@gmail.com"
# Hello baraa with your email baa@gmail.com
print("Hello {1} with your email {0}".format(email,name))

Here, the curly braces **`{}`** are used as placeholders. We can specify the order in which they are printed by using numbers (tuple index).

In [ ]:
print('I love {0} and {1}'.format('Mango','Banana'))
print('I love {1} and {0}'.format('Mango','Banana'))

We can even use keyword arguments to format the string.

In [ ]:
print('Hello {name}, {greeting}!'.format(greeting = 'Good morning', name = 'Mark'))

## 2. Python Input Using `input()` function

Up until now, our programs were static. The value of variables was defined or hard coded into the source code.

To allow flexibility, we might want to take the input from the user. In Python, we have a built-in function **`input()`** to accept user input.

**Syntax**:

```python
input([prompt])
```

where **`prompt`** is the string we wish to display on the screen. It is optional.

In [ ]:
name = input()
print(type(name))

Here, we can see that the entered value **`90`** is a string, not a number. To convert this into a number we can use **`int()`** or **`float()`** functions.

In [ ]:
int('90')  # converting string '90' to integer

In [ ]:
float('90')

In [ ]:
a = "6"  # Is this a STRING character
b = "P"  # IS this a STRING chracter
c = a + b
print(c)

In [ ]:
int('6+3') # ERROR! cannot add numbers as string data type

This same operation can be performed using the **`eval()`** function. But **`eval`** takes it further. It can evaluate even expressions, provided the input is a string.

In [ ]:
eval('6+3') # Eval function can add numbers in string data type

In [ ]:
eval('print(5*3)')

### Accepting User Inputs (as both integer and string)

**`input(prompt)`** prompts for and returns input as a string. Hence, if the user inputs a integer, the code should convert the string to an integer and then proceed.

In [ ]:
a = input("Hello, \nHow are you?") # \n means new line

In [ ]:
abc = input("Type something here and it will be stored in variable abc \t")

In [ ]:
type(abc)

**Note**: **`type( )`** returns the format or the type of a variable or a number

In [4]:
name = input("Enter Student Name: ")
major = input("Enter Major: ")
university = input("Enter University: ")

print("\n")
print("Printing Student Details")
print("Name", "Major", "University")
print(name, major, university)

Enter Student Name:  1
Enter Major:  2
Enter University:  3

Printing Student Details
Name Major University
1 2 3

In [6]:
number = input("Enter number: ")
name = input("Enter name: ")

print("\n")
print("Printing type of a input value")
print("type of number", type(number))
print("type of name", type(name))

Enter number:  1
Enter name:  2

Printing type of a input value
type of number <class 'str'>
type of name <class 'str'>

### Accepting User Inputs (only as integer)

A useful function to use in conjunction with this is **`eval()`** which takes a string and evaluates it as a python expression.

*Note:* In notebooks it is often easier just to modify the code than to prompt for input.

In [5]:
xyz =  input("xyz = ")
print(xyz)
print(type(xyz))

xyzValue=eval(xyz)  # change input to integer data type from string data type
print(type(xyzValue))
print(xyz,'=',xyzValue)

xyz =  10.25

10.25
<class 'str'>
<class 'float'>
10.25 = 10.25

In [ ]:
int("99")

In [ ]:
# program to calculate addition of two input numbers

first_number = int(input("Enter first number: "))  # converting input value to integer
second_number = int(input("Enter second number: "))  # converting input value to integer

print("\n")
print("First Number: ", first_number)
print("Second Number: ", second_number)
sum1 = first_number + second_number
print("Addition of two number is: ", sum1)

### Get multiple input values from a user in one line

In Python, It is possible to get multiple values from the user in one line. i.e., In Python, we can accept two or three values from the user in one **`input()`** call.

For example, in a single execution of the **`input()`** function, we can ask the user his/her name, age, and phone number and store it in three different variables. Lets see how to do this.

In [23]:
a  = input("Enter your Name, Age, Phone_number separated by space: ").split(' ')
a

Enter your Name, Age, Phone_number separated by space:  baraa wael sallout

['baraa', 'wael', 'sallout']

['baraa', 'sallout']

### Format output strings by its positions

In [8]:
firstName = input("Enter First Name: ")
lastName = input("Enter Last Name: ")
organization = input("Enter Organization Name: ")

print("\n")
print('{0}, {1} works at {2}'.format(firstName, lastName, organization))
print('{1}, {0} works at {2}'.format(firstName, lastName, organization))
print('FirstName {0}, LastName {1} works at {2}'.format(firstName, lastName, organization))
print('{0}, {1} {0}, {1} works at {2}'.format(firstName, lastName, organization))

Enter First Name:  55
Enter Last Name:  66
Enter Organization Name:  44

55, 66 works at 44
66, 55 works at 44
FirstName 55, LastName 66 works at 44
55, 66 55, 66 works at 44

### Accessing output string arguments by name

In [ ]:
name = input("Enter Name: ")
marks = input("Enter marks: ")

print("\n")
print('Student: Name:  {firstName}, Marks: {percentage}%'.format(firstName=name, percentage=marks))